
<ng-template #customHeaderTemplate>
    <div class="p-dialog-header">
        <span class="p-dialog-title">{{config.header}}</span>
        <button type="button" class="p-dialog-header-icon p-link" (click)="closeDialog()">
            <span class="pi pi-times"></span>
        </button>
    </div>
</ng-template>

<div *ngIf="customHeader as header" [ngTemplateOutlet]="header"></div>
<div class="card surface-50">
    <div class="tableContainer">
        <p-table *ngIf="showTable" [value]="pageActions"
                 styleClass="p-datatable-striped"
                 [scrollable]="true"
                 scrollHeight="flex">
            <ng-template pTemplate="header">
                <tr>
                    <th>action</th>
                    <th>selector</th>
                    <th>value</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pageAction>
                <tr>
                    <td class="">
                        <span *ngIf="!editingPageAction" class="font-bold ml-2 truncate-text">
                                    {{ pageAction.action }}
                                </span>
                        <p-dropdown *ngIf="editingPageAction"
                                    placeholder=""
                                    [options]="pageActionOptions"
                                    [(ngModel)]="pageAction.action"/>
                    </td>
                    <td class="">
                                <span *ngIf="!editingPageAction" class="font-bold ml-2 truncate-text">
                                    {{ pageAction.selector }}
                                </span>
                        <input *ngIf="editingPageAction"
                               pInputText type="text"
                               [(ngModel)]="pageAction.selector"
                               [ngStyle]="{'width': '100%'}"
                               (keydown.space)="$event.stopPropagation()">
                        <!--                               (keydown.enter)="saveProfileKeyEdit()"-->
                        <!--                               (keydown.escape)="cancelProfileKeyEdit()>"-->

                    </td>
                    <td class="">
                                <span *ngIf="!editingPageAction" class="font-bold ml-2 truncate-text">
                                    {{ pageAction.value }}
                                </span>
                        <input *ngIf="editingPageAction"
                               pInputText type="text"
                               [(ngModel)]="pageAction.value"
                               [ngStyle]="{'width': '100%'}"
                               (keydown.space)="$event.stopPropagation()">
                        <!--                               (keydown.enter)="saveProfileKeyEdit()"-->
                        <!--                               (keydown.escape)="cancelProfileKeyEdit()>"-->

                    </td>
                    <td style="width:10%">
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editingPageAction || editingPageAction._id !== pageAction._id"
                                    pButton
                                    type="button"
                                    icon="bx bx-pencil"
                                    class="p-button-rounded p-button-text"
                                    (click)="startPageActionEdit(pageAction)">
                            </button>
                            <button *ngIf="editingPageAction && editingPageAction._id === pageAction._id"
                                    pButton
                                    type="button"
                                    icon="bx bx-check"
                                    class="p-button-rounded p-button-text p-button-success mr-2"
                                    (click)="savePageActionKeyEdit()">
                            </button>
                            <button *ngIf="editingPageAction && editingPageAction._id === pageAction._id"
                                    pButton
                                    type="button"
                                    icon="bx bx-x"
                                    class="p-button-rounded p-button-text p-button-danger"
                                    (click)="cancelPageActionKeyEdit()">
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary">
                <div class="p-toolbar-group-start">
                    <div style="text-align:left">
                        <button pButton type="button" icon="bx bx-down-arrow-alt" class="p-button-text"
                                pTooltip="Add" label="Add"
                                tooltipPosition="top"
                                (click)="addProfile()"></button>
                    </div>
                    <div style="text-align:left">
                        <button pButton type="button" icon="bx bxs-file-import" class="p-button-text"
                                pTooltip="Import" label="Import"
                                tooltipPosition="top"
                                (click)="importProfile()"></button>
                    </div>
                </div>
            </ng-template>
        </p-table>
    </div>
</div>
