<div class="card surface-50">
    <!--  <h5>Programmatic</h5>-->
    <!--  <div style="padding: .5em 0 1em 0">-->
    <!--    <p-button-->
    <!--      (click)="activeIndex = 0"-->
    <!--      class="p-button-text"-->
    <!--      pButtonLabel="Activate 1rd"-->
    <!--    ></p-button>-->
    <!--    <p-button-->
    <!--      (click)="activeIndex = 1"-->
    <!--      class="p-button-text"-->
    <!--      pButtonLabel="Activate 2rd"-->
    <!--      [style]="{ 'margin-left': '.5em' }"-->
    <!--    ></p-button>-->
    <!--    <p-button-->
    <!--      (click)="activeIndex = 2"-->
    <!--      class="p-button-text"-->
    <!--      pButtonLabel="Activate 3rd"-->
    <!--      [style]="{ 'margin-left': '.5em' }"-->
    <!--    ></p-button>-->
    <!--  </div>-->
    <h2 class="m-3">Settings</h2>
    <p-tabs [(value)]="activeTabIndex">
        <p-tablist>
            <p-tab value="0">Profiles</p-tab>
            <p-tab value="1">Services</p-tab>
            <p-tab value="2">Main</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <div class="tableContainer">
                    @if (showTable) {
                        <p-table [value]="profiles"
                                 class="p-datatable-striped"
                                 [scrollable]="true"
                                 scrollHeight="flex">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Name</th>
                                    <th>Image</th>
                                    <th>homeUrl</th>
                                    <th>lang</th>
                                    <th></th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-profile>
                                <tr>
                                    <td class="">
                                        <div>
                                            @if (!editingProfile) {
                                                <span class="font-bold ml-2 truncate-text">
                                            {{ profile.name }}
                                        </span>
                                            } @else {
                                                <input
                                                        pInputText type="text"
                                                        [(ngModel)]="profile.name"
                                                        [ngStyle]="{'width': '100%'}"
                                                        (keydown.space)="$event.stopPropagation()"
                                                        (keydown.enter)="saveProfileKeyEdit()"
                                                        (keydown.escape)="cancelProfileKeyEdit()">
                                            }

                                            <div class="p-toolbar-group-start">
                                                <p-button
                                                        pTooltip="load" tooltipPosition="top"
                                                        icon="bx bx-check"
                                                        severity="success" [text]="true" [outlined]="true"
                                                        (onClick)="setActiveProfile(profile._id)">
                                                </p-button>
                                                <p-button
                                                        pTooltip="delete" tooltipPosition="top"
                                                        icon="bx bxs-trash"
                                                        severity="danger" [text]="true" [outlined]="true"
                                                        (onClick)="deleteProfile(profile._id)">
                                                </p-button>
                                                <p-button
                                                        pTooltip="export" tooltipPosition="top"
                                                        icon="bx bxs-file-export"
                                                        severity="info" [text]="true" [outlined]="true"
                                                        (onClick)="exportProfile(profile._id)">
                                                </p-button>
                                            </div>

                                            @if (activeProfile._id === profile._id) {
                                                <p-tag
                                                        [value]="'active'"
                                                        [severity]="'success'"/>
                                            }
                                        </div>
                                    </td>
                                    <td class="">
                                        <img [alt]="profile.logo" ngSrc="{{getLogoPath(profile)}}" height="32"
                                             width="32"
                                             style="vertical-align: middle" pTooltip="profile logo"
                                        />
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            @if (editingProfile && editingProfile._id === profile._id) {
                                                <p-button
                                                        icon="bx bx-pencil"
                                                        [rounded]="true" [text]="true"
                                                        (onClick)="setProfileLogo()">
                                                </p-button>
                                            }
                                        </div>
                                    </td>
                                    <td class="">
                                        @if (!editingProfile) {
                                            <span class="truncate-text">
                                        {{ profile.homeUrl }}
                                    </span>
                                        } @else {
                                            <input
                                                    pInputText type="text"
                                                    [(ngModel)]="profile.homeUrl"
                                                    [ngStyle]="{'width': '100%'}"
                                                    (keydown.space)="$event.stopPropagation()"
                                                    (keydown.enter)="saveProfileKeyEdit()"
                                                    (keydown.escape)="cancelProfileKeyEdit()">
                                        }
                                    </td>
                                    <td class="">
                                        <p-select placeholder="Select"
                                                  [options]="['ru', 'en']"
                                                  [(ngModel)]="profile.lang"/>
                                    </td>
                                    <td style="width:10%">
                                        <div class="flex align-items-center justify-content-center gap-2">
                                            @if (!editingProfile || editingProfile._id !== profile._id) {
                                                <p-button
                                                        icon="bx bx-pencil"
                                                        [rounded]="true" [text]="true"
                                                        (onClick)="startProfileKeyEdit(profile)">
                                                </p-button>
                                            }
                                            @if (editingProfile && editingProfile._id === profile._id) {
                                                <p-button
                                                        icon="bx bx-check"
                                                        severity="success" [rounded]="true" [text]="true" class="mr-2"
                                                        (onClick)="saveProfileKeyEdit()">
                                                </p-button>
                                                <p-button
                                                        icon="bx bx-x"
                                                        severity="danger" [rounded]="true" [text]="true"
                                                        (onClick)="cancelProfileKeyEdit()">
                                                </p-button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="summary">
                                <div class="profiles-form-actions surface-50">
                                    <p-button
                                            icon="bx bx-down-arrow-alt"
                                            pTooltip="Add" tooltipPosition="top"
                                            label="Add" [text]="true"
                                            (onClick)="addProfile()"></p-button>
                                    <p-button
                                            icon="bx bxs-file-import"
                                            pTooltip="Import" tooltipPosition="top"
                                            label="Import" [text]="true"
                                            (onClick)="importProfile()"></p-button>
                                </div>
                            </ng-template>
                        </p-table>
                    }
                </div>
            </p-tabpanel>

            <p-tabpanel value="1">
                <div class="tableContainer services-tab">
                    @if (showTable) {
                        <p-splitter class="services-splitter" [panelSizes]="[40, 60]" [minSizes]="[20, 40]"
                                    layout="horizontal">
                            <ng-template #panel>
                                <div class="services-tree">
                                    <div class="services-tree-list">
                                        <p-tree #servicesTree
                                                [value]="sideMenuTreeNodes"
                                                selectionMode="single"
                                                [(selection)]="selectedNode"
                                                dataKey="id"
                                                [filter]="true" filterBy="label" filterPlaceholder="Search"
                                                [draggableNodes]="true"
                                                [droppableNodes]="true"
                                                scrollHeight="flex"
                                                draggableScope="servicesTree"
                                                droppableScope="servicesTree"
                                                (onNodeSelect)="onSelect($event)"
                                                (onNodeUnselect)="onNodeUnselect()"
                                                (onNodeDrop)="onTreeNodeDrop($event)">
                                            <ng-template let-node pTemplate="default">
                                                <div class="services-tree-node">
                                                    <span class="services-tree-node-name">{{ node.data?.key }}</span>
                                                    @if (node.data?.value) {
                                                        <small class="services-tree-node-link">{{ node.data?.value }}</small>
                                                    }
                                                </div>
                                            </ng-template>
                                        </p-tree>
                                    </div>
                                    <div class="services-tree-actions surface-50">
                                        <p-button
                                                icon="bx bx-plus"
                                                label="Add service"
                                                [text]="true"
                                                (onClick)="startAddService()"></p-button>
                                        <p-button
                                                icon="bx bx-trash-alt"
                                                label="Delete"
                                                severity="danger"
                                                [text]="true"
                                                [disabled]="!selectedNode"
                                                (onClick)="deleteItem(selectedNode)"></p-button>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template #panel>
                                <div class="services-form-panel">
                                    <div class="services-form-header">
                                        <h3>Service details</h3>
                                    </div>
                                    @if (selectedNode) {
                                        <div class="services-form p-fluid">
                                            <div class="field">
                                                <div class="flex align-items-start gap-2">
                                                    <p-floatlabel variant="on" class="flex-1">
                                                        <input id="serviceName"
                                                               type="text"
                                                               pInputText
                                                               [(ngModel)]="treeForm.key"
                                                               [invalid]="!!nameError"
                                                               [fluid]="true"
                                                               (ngModelChange)="onNameChange()"
                                                               (keydown.enter)="saveTreeForm()"
                                                               (keydown.escape)="cancelTreeField('key')"/>
                                                        <label for="serviceName">Name</label>
                                                    </p-floatlabel>
                                                    @if (isTreeFormDirty) {
                                                        <div class="flex align-items-center gap-1 mt-1">
                                                            <p-button icon="bx bx-check" severity="success"
                                                                      [rounded]="true" [text]="true"
                                                                      [disabled]="!!nameError || !!urlError"
                                                                      (onClick)="saveTreeForm()"/>
                                                            <p-button icon="bx bx-x" severity="danger"
                                                                      [rounded]="true" [text]="true"
                                                                      (onClick)="cancelTreeField('key')"/>
                                                        </div>
                                                    }
                                                </div>
                                                @if (nameError) {
                                                    <p-message severity="error" size="small" variant="simple">{{ nameError }}</p-message>
                                                }
                                            </div>
                                            <div class="field">
                                                <div class="flex align-items-start gap-2">
                                                    <p-floatlabel variant="on" class="flex-1">
                                                        <input id="serviceURL"
                                                               type="text"
                                                               pInputText
                                                               [(ngModel)]="treeForm.value"
                                                               [invalid]="!!urlError"
                                                               [fluid]="true"
                                                               (ngModelChange)="onUrlChange()"
                                                               (keydown.enter)="saveTreeForm()"
                                                               (keydown.escape)="cancelTreeField('value')"/>
                                                        <label for="serviceURL">URL</label>
                                                    </p-floatlabel>
                                                    @if (isTreeFormDirty) {
                                                        <div class="flex align-items-center gap-1 mt-1">
                                                            <p-button icon="bx bx-check" severity="success"
                                                                      [rounded]="true" [text]="true"
                                                                      [disabled]="!!nameError || !!urlError"
                                                                      (onClick)="saveTreeForm()"/>
                                                            <p-button icon="bx bx-x" severity="danger"
                                                                      [rounded]="true" [text]="true"
                                                                      (onClick)="cancelTreeField('value')"/>
                                                        </div>
                                                    }
                                                </div>
                                                @if (urlError) {
                                                    <p-message severity="error" size="small" variant="simple">{{ urlError }}</p-message>
                                                }
                                            </div>
                                            @if (selectedNode) {
                                                <div class="mt-3">
                                                    <h4 class="mb-2">Page actions @if (currentPageActionDomain) { — {{ currentPageActionDomain }} }</h4>
                                                    <p-message severity="info" [closable]="true">
                                                        <b>Selector rules:</b> Use CSS selectors only, e.g. <code>#myId</code>, <code>input[name="user"]</code>, <code>button[type="submit"]</code>.
                                                        Avoid dynamic IDs. Do not use <code>document.querySelector(...)</code>.
                                                    </p-message>
                                                    <p-table [value]="currentPageActions"
                                                             class="p-datatable-striped"
                                                             [reorderableRows]="true">
                                                        <ng-template pTemplate="header">
                                                            <tr>
                                                                <th style="width: 40px"></th>
                                                                <th>Action</th>
                                                                <th>Selector</th>
                                                                <th>Value</th>
                                                                <th style="width: 120px"></th>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="body" let-pageAction let-index="rowIndex">
                                                            <tr [pReorderableRow]="index">
                                                                <td style="width: 40px">
                                                                    <span class="pi pi-bars" pReorderableRowHandle></span>
                                                                </td>
                                                                <td>
                                                                    @if (!editingPageAction || editingPageAction._id !== pageAction._id) {
                                                                        <span class="font-bold ml-2 truncate-text">{{ pageAction.action }}</span>
                                                                    }
                                                                    @if (editingPageAction && editingPageAction._id === pageAction._id) {
                                                                        <p-select placeholder="Select action"
                                                                                  [options]="pageActionOptions"
                                                                                  [(ngModel)]="editingPageAction.action"
                                                                                  appendTo="body"/>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (!editingPageAction || editingPageAction._id !== pageAction._id) {
                                                                        <span class="font-bold ml-2 truncate-text">{{ pageAction.selector }}</span>
                                                                    }
                                                                    @if (editingPageAction && editingPageAction._id === pageAction._id && editingPageAction.action !== 'delay') {
                                                                        <input pInputText type="text"
                                                                               [(ngModel)]="editingPageAction.selector"
                                                                               [ngStyle]="{'width': '100%'}"
                                                                               placeholder="CSS selector"
                                                                               (keydown.space)="$event.stopPropagation()">
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @if (!editingPageAction || editingPageAction._id !== pageAction._id) {
                                                                        @if (pageAction.action === 'typeToInput') {
                                                                            <span class="font-bold ml-2 truncate-text">{{ pageAction.value }}</span>
                                                                        }
                                                                        @if (pageAction.action === 'delay') {
                                                                            <span class="font-bold ml-2 truncate-text">{{ pageAction.value }} ms</span>
                                                                        }
                                                                    }
                                                                    @if (editingPageAction && editingPageAction._id === pageAction._id) {
                                                                        @if (editingPageAction.action === 'typeToInput') {
                                                                            <input pInputText type="text"
                                                                                   [(ngModel)]="editingPageAction.value"
                                                                                   [ngStyle]="{'width': '100%'}"
                                                                                   placeholder="Value"
                                                                                   (keydown.space)="$event.stopPropagation()">
                                                                        }
                                                                        @if (editingPageAction.action === 'delay') {
                                                                            <p-inputnumber [(ngModel)]="editingPageAction.value"
                                                                                           [showButtons]="true"
                                                                                           buttonLayout="horizontal"
                                                                                           [step]="250"
                                                                                           [min]="0"
                                                                                           suffix=" ms"
                                                                                           placeholder="Delay (ms)">
                                                                                <ng-template #incrementbuttonicon>
                                                                                    <span class="pi pi-plus"></span>
                                                                                </ng-template>
                                                                                <ng-template #decrementbuttonicon>
                                                                                    <span class="pi pi-minus"></span>
                                                                                </ng-template>
                                                                            </p-inputnumber>
                                                                        }
                                                                    }
                                                                </td>
                                                                <td style="width: 120px">
                                                                    <div class="flex align-items-center justify-content-center gap-1">
                                                                        @if (!editingPageAction || editingPageAction._id !== pageAction._id) {
                                                                            <p-button icon="bx bx-pencil"
                                                                                      [rounded]="true" [text]="true"
                                                                                      (click)="startPageActionEdit(pageAction)"></p-button>
                                                                            <p-button icon="bx bx-trash"
                                                                                      [rounded]="true" [text]="true" severity="danger"
                                                                                      (click)="deletePageAction(pageAction)"></p-button>
                                                                        }
                                                                        @if (editingPageAction && editingPageAction._id === pageAction._id) {
                                                                            <p-button icon="bx bx-check"
                                                                                      [rounded]="true" [text]="true" severity="success"
                                                                                      (click)="confirmPageActionEdit()"></p-button>
                                                                            <p-button icon="bx bx-x"
                                                                                      [rounded]="true" [text]="true" severity="danger"
                                                                                      (click)="cancelPageActionEdit()"></p-button>
                                                                        }
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </ng-template>
                                                        <ng-template pTemplate="summary">
                                                            <div class="flex align-items-center justify-content-between">
                                                                <div class="flex gap-2">
                                                                    <p-button icon="bx bx-plus"
                                                                              pTooltip="Add action" tooltipPosition="top"
                                                                              label="Add page action" [text]="true"
                                                                              (onClick)="addPageAction()"></p-button>
                                                                    <p-button icon="bx bxs-file-import"
                                                                              pTooltip="Import" tooltipPosition="top"
                                                                              label="Import page actions" [text]="true"
                                                                              (onClick)="importPageActions()"></p-button>
                                                                </div>
                                                                <p-button icon="bx bx-save"
                                                                          pTooltip="Save page actions" tooltipPosition="top"
                                                                          label="Save page actions" [text]="true"
                                                                          (onClick)="saveAllPageActions()"></p-button>
                                                            </div>
                                                        </ng-template>
                                                    </p-table>
                                                </div>
                                            }
                                        </div>
                                    } @else {
                                        <div class="services-form-empty">
                                            <p>Select service to edit</p>
                                            <p>Use drag and drop to reorder</p>
                                        </div>
                                    }
                                </div>
                            </ng-template>
                        </p-splitter>
                    }
                </div>
            </p-tabpanel>

            <p-tabpanel value="2">
                <h2>Main</h2>

                <hr class="mb-3 mx-2 border-top-1 border-none border-gray-600">
                <h3>Theme</h3>

                <p-selectButton
                        [options]="themeOptions"
                        [(ngModel)]="theme"
                        (onChange)="toggleTheme($event)"
                        optionLabel="label"
                        optionValue="value"/>

                <hr class="mb-3 mx-2 border-top-1 border-none border-gray-600">

            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
<p-toast
        position="top-center"
        [life]="4000"
        style="padding-top: 17px;"
></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>



