<div class="card surface-50">
    <!--  <h5>Programmatic</h5>-->
    <!--  <div style="padding: .5em 0 1em 0">-->
    <!--    <p-button-->
    <!--      (click)="activeIndex = 0"-->
    <!--      styleClass="p-button-text"-->
    <!--      label="Activate 1rd"-->
    <!--    ></p-button>-->
    <!--    <p-button-->
    <!--      (click)="activeIndex = 1"-->
    <!--      styleClass="p-button-text"-->
    <!--      label="Activate 2rd"-->
    <!--      [style]="{ 'margin-left': '.5em' }"-->
    <!--    ></p-button>-->
    <!--    <p-button-->
    <!--      (click)="activeIndex = 2"-->
    <!--      styleClass="p-button-text"-->
    <!--      label="Activate 3rd"-->
    <!--      [style]="{ 'margin-left': '.5em' }"-->
    <!--    ></p-button>-->
    <!--  </div>-->
    <h2 class="m-3">Настройки</h2>
    <p-tabView [(activeIndex)]="activeIndex">

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Профиль</span>
            </ng-template>
            <p-table *ngIf="showTable" [value]="profiles" sortField="name" sortMode="single" sortOrder="0"
                     dataKey="name"
                     [scrollable]="true" scrollHeight="700px"
                     rowGroupMode="subheader" groupRowsBy="name" [tableStyle]="{'max-width': '40rem'}"
                     [expandedRowKeys]="expandedRowKeys" (onRowExpand)="onRowExpand($event)">
                <ng-template pTemplate="groupheader" let-profile let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td colspan="5" [pEditableColumn]="profile.name" pEditableColumnField="name">
                            <button type="button" pButton pRipple [pRowToggler]="profile"
                                    class="p-button-text p-button-rounded p-button-plain mr-2"
                                    [icon]="expanded ? 'bx bx-chevron-down bx-md' : 'bx bx-chevron-right bx-md'">
                            </button>
                            <img [alt]="profile.logo" src="{{getProfileLogo(profile)}}" width="32"
                                 style="vertical-align: middle"/>
                            <p-cellEditor [style]="{'margin-left':'10px'}">
                                <ng-template pTemplate="input">
                                    <input pInputText
                                           type="text"
                                           [(ngModel)]="profile.name"
                                           (ngModelChange)="onBlurDeselect($event)"
                                           (blur)="onBlurDeselect($event)"
                                    />
                                </ng-template>
                                <ng-template pTemplate="output" class="font-bold ml-2">
                                    {{ profile.name }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-profile>
                    <tr>
                        <td class="profileKey">homeUrl:</td>
                        <td [pEditableColumn]="profile.homeUrl" pEditableColumnField="homeUrl">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                            pInputText
                                            type="text"
                                            [(ngModel)]="profile.homeUrl"/>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ profile.homeUrl }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                    <tr>
                        <td class="profileKey">lang:</td>
                        <td [pEditableColumn]="profile.lang" pEditableColumnField="lang">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input
                                            pInputText
                                            type="text"
                                            [(ngModel)]="profile.lang"/>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ profile.lang }}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button pButton type="button" icon="bx bx-archive-in" label="Load" [outlined]="true"
                                    pTooltip="Load" tooltipPosition="top" [style]="{'margin':'20px'}"
                                    (click)="setActiveProfile(profile.name)"></button>
                        </td>
                        <td>
                            <button pButton type="button" icon="bx bx-trash" class="p-button-danger" [outlined]="true"
                                    label="Delete"
                                    pTooltip="Delete" tooltipPosition="top" [style]="{'margin':'20px'}"
                                    (click)="deleteProfile(profile.name)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <button pButton type="button" icon="bx bx-plus" label="Add" [outlined]="true"
                    pTooltip="Add" tooltipPosition="top" [style]="{'margin':'20px'}"
                    (click)="newProfileFromDefault()"></button>
            <button pButton type="button" icon="bx bx-save" label="Save" [outlined]="true"
                    pTooltip="Save" tooltipPosition="top" [style]="{'margin':'20px'}"
                    (click)="saveProfiles()"></button>
        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Сервисы</span>
            </ng-template>
            <p-treeTable *ngIf="showTable" [value]="treeNodesData" [columns]="cols" [scrollable]="true"
                         scrollHeight="600px"
                         selectionMode="single" sortField="id" [style]="{'margin-bottom':'20px'}"
                         [(selection)]="selectedNodes" dataKey="key" (onNodeSelect)="onSelect($event)">
                <ng-template pTemplate="colgroup" let-columns>
                    <colgroup>
                        <col *ngFor="let col of columns"
                             [ngStyle]="{'width': (col && col.width ? col.width + 'px' : 'auto')}">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            <p *ngIf="col.header !='id'">{{ col.header }}</p>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                    <tr [ttSelectableRow]="rowNode">
                        <td *ngFor="let col of columns; let i = index" ttEditableColumn
                            [ngClass]="{'p-toggler-column': i === 0}">
                            <p-treeTableToggler [rowNode]="rowNode" *ngIf="i === 0"></p-treeTableToggler>
                            <!--              <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 3"></p-treeTableCheckbox>-->
                            <p-treeTableCellEditor>
                                <ng-template pTemplate="input">
                                    <div class="p-inputgroup">
                                        <input pInputText type="text" [(ngModel)]="rowData[col.field]"
                                               [ngStyle]="{'width': i == 0 ? '90%': '100%',
                            'margin-top': i == 0 ? '-30px': '0', 'margin-left': i == 0 ? '40px': '0' }"
                                               *ngIf="col.editable">
                                        <!--<button type="button" pButton pRipple icon="bx bx-check" class="flex justify-content-center"-->
                                        <!--     click)="nodeSave()" *ngIf="edit"></button>-->
                                        <!--                    <p-dropdown appendTo="body" [options]="nodeTypes" [(ngModel)]="selectedNodeType"-->
                                        <!--                                (onChange)="onTypeSelect($event)" *ngIf="col.header == 'Тип'"></p-dropdown>-->
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="output"
                                             *ngIf="col.header !='id'">{{ getNodeTypeLabel(rowData[col.field]) }}
                                </ng-template>

                            </p-treeTableCellEditor>
                            <!--              <p-toggleButton styleClass="" onIcon="bx bx-pencil" offIcon="bx bx-pencil" [(ngModel)]="edit"-->
                            <!--                              (onChange)="onSelect($event)" *ngIf="col.header ==='id'"></p-toggleButton>-->
                            <button pButton type="button" icon="bx bx-down-arrow-alt" class="p-button-text"
                                    pTooltip="Add" tooltipPosition="top"
                                    (click)="addItem(rowData, false)" *ngIf="col.header ==='id'"></button>
                            <button pButton type="button" icon="bx bx-subdirectory-right" class="p-button-text"
                                    pTooltip="Add child" tooltipPosition="top"
                                    (click)="addItem(rowData, true)" *ngIf="col.header ==='id'"></button>
                            <button pButton type="button" icon="bx bx-trash-alt" class="p-button-text p-button-danger"
                                    pTooltip="Удалить" tooltipPosition="top"
                                    [disabled]="unSavedEdits" (click)="delete(rowData)"
                                    *ngIf="col.header ==='id'"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-treeTable>
            <!--<p-splitButton label="" icon="bx bx-pencil" [model]="items"></p-splitButton>-->
            <!--<button pButton type="button" icon="bx bx-pencil" class="p-button-text" (click)="toggleEdit()"></button>-->
            <button pButton type="button" icon="bx bx-save" label="Сохранить" [outlined]="true"
                    pTooltip="Сохранить" tooltipPosition="top"
                    (click)="nodeSave()"></button>


            <!--            <button pButton type="button" icon="bx bx-info-circle" label="Test" (click)="showDialog()"></button>-->

        </p-tabPanel>

        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Общие</span>
            </ng-template>
            <h2>Параметры</h2>

            <hr class="mb-3 mx-2 border-top-1 border-none border-gray-600">
            <h3>Тема</h3>

            <p-selectButton
                    [options]="themeOptions"
                    [(ngModel)]="theme"
                    (onChange)="toggleTheme($event)"
                    optionLabel="label"
                    optionValue="value"/>

            <hr class="mb-3 mx-2 border-top-1 border-none border-gray-600">

        </p-tabPanel>

        <p-tabPanel [disabled]="true">
            <ng-template pTemplate="header">
                <i class="bx bx-user bx-sm"></i>
                <span>Users</span>
            </ng-template>
            <p>
            </p>
        </p-tabPanel>

    </p-tabView>
</div>
<p-toast position="bottom-center"></p-toast>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>



