.card {
  width: 100%;
  height: calc(100vh - 4px);
  //height: 100vh;
  display: inline-block;
  overflow: hidden;
}

.profileKey {
  font-weight: bold;
  padding-left: 60px;
  width: 20px;
  //background-color: var(--surface-d);
}

::ng-deep .p-tabview-nav {
  i, span {
    vertical-align: middle;
  }

  span {
    margin: 0 .5rem;
  }
}

:host ::ng-deep .p-dropdown {
  width: 9rem;
}

:host ::ng-deep input {
  height: 30px;
  font-size: 1rem;
  font-weight: normal;
}
