<div class="card lg:block flex-shrink-0 absolute left-0 top-0 z-1 border-right-1 border-gray-600 select-none">
    <div class="flex align-items-center flex-column h-full">
        <div class="flex align-items-center justify-content-center flex-shrink-0" style="height: 60px;"><!--bg-indigo-500-->
            <img ngSrc='{{logoCachePath + activeProfile.logo}}' alt="" width="50" height="50">
        </div>
        <div class="mt-3 select-none">
            <ul class="list-none p-3 lg:py-3 lg:px-2 m-0">
                <li>
                    <p-button icon="bx bx-home bx-sm" (click)="openLink(getActiveProfileHomeUrl())" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="bx bx-collection bx-sm"
                              (click)="ipcSend('sideMenu:toggle', 'servicesMenu')" [plain]="true" [text]="true"/>
                </li>
<!--                <li>-->
<!--                    <p-button icon="bx bx-server bx-sm"-->
<!--                              (click)="ipcSend('sideMenu:toggle', 'web1cMenu')" [plain]="true" [text]="true"/>-->
<!--                </li>-->
                <li>
                    <p-button icon="bx bx-envelope bx-sm" (click)="callRenderer('open-link:messages')" [plain]="true" [text]="true"
                              pBadge [badgeDisabled]="false" class="p-badge-dot"/>
                </li>
                <li>
                    <p-button icon="bx bx-calendar bx-sm" (click)="callRenderer('open-link:calendar')" [plain]="true" [text]="true"/>
                </li>
            </ul>
        </div>

        <div class="mt-auto">
            <hr class="mb-3 mx-2 border-top-1 border-none border-gray-600">
            <ul class="list-none p-3 lg:py-3 lg:px-2 m-0">
                <li>
                    <p-button icon="bx bx-cog bx-sm" (click)="callRenderer('open:settings')" [plain]="true" [text]="true"/>
                </li>
<!--                <li>-->
<!--                    <p-button icon="bx bx-user bx-sm" (click)="openLink('https://id.uchet.kz/account/login/')" [plain]="true" [text]="true"/>-->
<!--                </li>-->
            </ul>
        </div>
    </div>
</div>
