<div class="card lg:block flex-shrink-0 absolute left-0 top-0 z-1 border-right-1 border-gray-600 select-none">
    <div class="flex align-items-center flex-column h-full">
        <div class="flex align-items-center justify-content-center flex-shrink-0" style="height: 60px;"><!--bg-indigo-500-->
            <img ngSrc='{{appLogoPath}}' alt="" width="50" height="50">
        </div>
        <div class="mt-3 select-none">
            <ul class="list-none p-3 lg:py-3 lg:px-2 m-0">
                <li>
                    <p-button icon="bx bx-home" (click)="openLink('https://uchet.kz')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="bx bx-collection"
                              (click)="ipcSend('sideMenu:toggle', 'services')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="bx bx-server"
                              (click)="ipcSend('sideMenu:toggle', 'web1c')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="bx bx-film" (click)="openLink('https://www.youtube.com/user/uchetkz/videos')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="bx bx-envelope" (click)="callRenderer('open-link:messages')" [plain]="true" [text]="true"
                              pBadge [badgeDisabled]="false" class="p-badge-dot"/>
                </li>
                <li>
                    <p-button icon="bx bx-calendar" (click)="callRenderer('open-link:calendar')" [plain]="true" [text]="true"/>
                </li>
            </ul>
        </div>

        <div class="mt-auto">
            <hr class="mb-3 mx-2 border-top-1 border-none border-gray-600">
            <ul class="list-none p-3 lg:py-3 lg:px-2 m-0">
                <li>
                    <p-button icon="bx bx-cog" (click)="callRenderer('open:settings')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="bx bx-user" (click)="openLink('https://id.uchet.kz/account/login/')" [plain]="true" [text]="true"/>
                </li>
            </ul>
        </div>
    </div>
</div>
