<div class="card lg:block flex-shrink-0 select-none">
    <div class="flex align-items-center flex-column h-full">
        <div class="flex align-items-center justify-content-center flex-shrink-0" style="height: 40px;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="26" height="26"
                 fill="currentColor" class="app-logo">
                <path fill-rule="evenodd" d="
                    M 176,20 L 176,236 L 96,236
                    A 76,76 0 0 1 20,160 L 20,116
                    A 76,76 0 0 1 96,40 L 140,40 L 140,20 Z
                    M 136,80 L 96,80
                    A 36,36 0 0 0 60,116 L 60,160
                    A 36,36 0 0 0 96,196 L 136,196 Z
                "/>
            </svg>
        </div>

        <hr class="my-0 border-top-1 border-none sidebar-separator w-full">

        <div class="profiles-list overflow-y-auto">
            @for (profile of profiles; track profile._id) {
                <div class="profile-item"
                     [class.active]="activeProfile?._id === profile._id"
                     [class.clicked]="clickedProfileId === profile._id"
                     [title]="profile.name"
                     (click)="selectProfile(profile)">
                    <i [class]="profile.logo + ' bx-sm'"></i>
                </div>
            }
        </div>

        <div class="draggable flex-grow-1">
            <wbr>
        </div>

        <div class="mt-auto flex-shrink-0 w-full">
            <hr class="my-0 border-top-1 border-none sidebar-separator w-full">
            <div class="profile-item settings-btn" [class.active]="settingsActive" [class.clicked]="settingsClicked" (click)="toggleSettings()" [title]="'settings.title' | translate">
                <i class="bx bx-cog bx-sm"></i>
                @if (updateAvailable) {
                    <span class="update-badge"></span>
                }
            </div>
        </div>
    </div>
</div>
