<div class="card flex flex-column">
    <div class="titlebar-bg flex justify-content-between align-items-center relative lg:static h32">
        <!--border-bottom-1-->

        <!--<div class="flex align-items-center">-->
        <a pRipple=""
           class="p-ripple p-element flex align-items-center cursor-pointer p-3 lg:justify-content-center
                       titlebar-btn titlebar-menu-btn transition-duration-150 transition-colors h32"
           (click)="toggleSideMenu($event)"
        >
            <i class="bx bx-menu bx-sm mr-2 lg:mr-0 text-base"></i>
        </a>
        <a pRipple=""
           class="p-ripple p-element flex align-items-center cursor-pointer p-3 lg:justify-content-center
                       titlebar-btn titlebar-refresh-btn transition-duration-150 transition-colors h32"
           (click)="callRenderer('reload', $event)"
        >
            <i class="bx bx-refresh bx-sm mr-2 lg:mr-0 text-base"></i>
        </a>
        <a pRipple=""
           class="p-ripple p-element flex align-items-center justify-content-center cursor-pointer
                      titlebar-btn titlebar-back-btn transition-duration-150 transition-colors h32"
           style="width: 48px; flex-shrink: 0;"
           (click)="callRenderer('back', $event)"
        >
            <i class="bx bx-chevron-left bx-sm mr-2 lg:mr-0 text-base"></i>
        </a>
        <!--</div>-->
        <div class="draggable flex-grow-1">
            <wbr>
        </div>
    </div>
    @if (showLoading) {
        <p-progressBar mode="indeterminate" class="loading"/>
    }
</div>


