.h32 {
    height: 32px;
}
.surface-f {
    background-color: var(--surface-f);
}
.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    /*background: #1B91F7;*/
}
