<div class="surface-f flex justify-content-between align-items-center relative lg:static h32"> <!--border-bottom-1-->

    <!--<div class="flex align-items-center">-->
    <a pRipple=""
       class="p-ripple p-element flex align-items-center cursor-pointer p-3 lg:justify-content-center
                       hover:surface-100 text-gray-300 hover:text-white transition-duration-150 transition-colors h32"
       (click)="callRenderer('back')"
    >
        <i class="bx bx-left-arrow-alt bx-sm mr-2 lg:mr-0 text-base"></i>
    </a>
    <a pRipple=""
       class="p-ripple p-element flex align-items-center cursor-pointer p-3 lg:justify-content-center
                       hover:surface-100 text-gray-300 hover:text-white transition-duration-150 transition-colors h32"
       (click)="callRenderer('reload')"
    >
        <i class="bx bx-refresh bx-sm mr-2 lg:mr-0 text-base"></i>
    </a>
    <!--</div>-->
    <div class="draggable flex-grow-1">
        <wbr>
    </div>

    <ul class="list-none p-0 m-0 hidden lg:flex lg:align-items-center select-none lg:flex-row lg:ml-auto
            border-1 lg:border-none right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static h32">
        <li>
            <a pRipple=""
               class="p-ripple p-element flex align-items-center cursor-pointer p-3 lg:justify-content-center
                       hover:surface-100 text-gray-300 hover:text-white transition-duration-150 transition-colors h32"
               (click)="callRenderer('minimize')"
            >
                <i class="bx bx-minus bx-sm mr-2 lg:mr-0 text-base"></i>
            </a>
        </li>
        <li>
            <a pRipple=""
               class="p-ripple p-element flex align-items-center cursor-pointer p-3 lg:justify-content-center
                       hover:surface-100 text-gray-300 hover:text-white transition-duration-150 transition-colors h32"
               (click)="callRenderer('maximize')"
            >
                <i class="bx bx-square bx-xs mr-2 lg:mr-0 text-base"></i>
<!--                <i class="bx bx-copy bx-sm mr-2 lg:mr-0 text-base"></i>-->
            </a>
        </li>
        <li>
            <a pRipple=""
               class="p-ripple p-element flex align-items-center cursor-pointer p-3 lg:justify-content-center
                       hover:bg-red-500 text-gray-300 hover:text-white transition-duration-150 transition-colors h32"
               (click)="callRenderer('close')"
            >
                <i class="bx bx-x bx-sm mr-2 lg:mr-0 text-base"></i>
            </a>
        </li>
    </ul>

</div>

