.card {
    width: 100%;
    height: 34px;
    display: inline-block;
    overflow: hidden;
}

::ng-deep .loading {
    margin-left: 70px;
    height: 2px;
    width: calc(100% - 70px);
}

.h32 {
    height: 32px;
}
.surface-f {
    background-color: var(--p-surface-ground);
}
.draggable {
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
    /*background: #1B91F7;*/
}
