<div class="sidebar surface-50 lg:block flex-shrink-0 absolute left-0 top-0 z-1 border-right-1 border-gray-600 select-none">
    <div class="flex align-items-center flex-column h-full">
        <div class="flex align-items-center justify-content-center flex-shrink-0" style="height: 60px;"><!--bg-indigo-500-->
            <img ngSrc="logo.png" alt="Image" width="30"
                 height="30">
        </div>
        <div class="mt-3 select-none">
            <ul class="list-none p-3 lg:py-3 lg:px-2 m-0">
                <li>
                    <p-button icon="pi pi-home" (click)="callRenderer('open-link:home')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="pi pi-bars" (click)="callRenderer('menubar-toggle')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="pi pi-envelope" (click)="callRenderer('open-link:messages')" [plain]="true" [text]="true"
                              pBadge [badgeDisabled]="false" class="p-badge-dot"/>
                </li>
                <li>
                    <p-button icon="pi pi-calendar" (click)="callRenderer('open-link:calendar')" [plain]="true" [text]="true"/>
                </li>
            </ul>
        </div>

        <div class="mt-auto">
            <hr class="mb-3 mx-2 border-top-1 border-none border-gray-600">
            <ul class="list-none p-3 lg:py-3 lg:px-2 m-0">
                <li>
                    <p-button icon="pi pi-cog" (click)="callRenderer('open:settings')" [plain]="true" [text]="true"/>
                </li>
                <li>
                    <p-button icon="pi pi-user" (click)="callRenderer('open:user')" [plain]="true" [text]="true"/>
                </li>
            </ul>
        </div>
    </div>
</div>
