///* Header text on hover */
//
::ng-deep .p-panelmenu {
  width: 260px;
}
::ng-deep .p-menuitem-text {
  font-weight: 400;
}
::ng-deep .p-menuitem-icon {
  font-size: 1.4em;
}
//
//
///* icons in content next to text */
//
//::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
//  color: green;
//}
//
//
///* Text */
//
//::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
//  color: blue;
//}
