///* Header text on hover */
//
::ng-deep .p-panelmenu {
  width: 100%;
}
::ng-deep .p-menuitem-text {
  //font-weight: 400;
}
::ng-deep .p-menuitem-icon {
  //font-size: 1.4em;
}

.app-details {
  height: 67px;
}

.app-name {
  margin-left: 12px;
  font-size: 22px;
  color: var(--text-color);
  font-weight: 400;
}

::ng-deep .app-details .p-avatar {
  background-color: var(--surface-d);
}
//
//
///* icons in content next to text */
//
//::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {
//  color: green;
//}
//
//
///* Text */
//
//::ng-deep .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
//  color: blue;
//}
